<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    {% include head.liquid %}
  </head>

  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <header>
      {% include header.liquid %}
    </header>

    <div class="container mt-5">{{ content }}</div>

    {% include footer.liquid %}
    {% include scripts.liquid %}
  </body>
</html>
